---
import Logo from "@/assets/logo.svg?url";
import { LanguageAndHamburger } from "@/components/DynamicHeader";
import { getContent, getLang } from "@/contexts/PageContext";
import type { langType } from "@/types/languages";
const CONTENT = getContent().header;
const LANG = getLang() as langType;
const { hideNav } = Astro.props;

const CONTACT_ID = 5;
const tags = CONTENT.tags.map((tag) => {
  if (tag.id === CONTACT_ID) {
    return { ...tag, href: `/${LANG}${tag.href}` };
  }
  return tag;
});
---

<header
  class="fixed top-0 w-full bg-white/95 backdrop-blur-sm border-b border-gray-100 z-50"
>
  <nav class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <div class="flex-shrink-0">
        <a href="/" aria-label="Ir a la página principal">
          <img src={Logo} alt="Logo Teraiz" />
        </a>
      </div>

      <!-- Desktop Navigation -->
      {
        !hideNav && (
          <div class="hidden md:block">
            <ul class="ml-10 flex items-baseline space-x-8">
              {tags.map((tag) => (
                <li>
                  <a
                    href={tag.href}
                    class="text-gray-700 hover:text-brand-primary transition-colors duration-200"
                  >
                    {tag.name}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      }

      <LanguageAndHamburger
        hideNav={hideNav}
        client:load
        content={getContent()}
        lang={LANG}
      />
    </div>
  </nav>
</header>
