---
import Logo from "@/assets/logo.svg";
import { LanguageAndCta, ContentMenuMobil } from "@/components/DynamicHeader";
import { getContent, getLang } from "@/contexts/PageContext";
import type { langType } from "@/types/languages";
const CONTENT = getContent().header;
const LANG = getLang() as langType;
---

<header
  class="fixed top-0 w-full bg-white/95 backdrop-blur-sm border-b border-gray-100 z-50"
>
  <nav class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <div class="flex-shrink-0">
        <h1 class="text-2xl font-bold text-brand-primary">
          <img src={Logo.src} alt="Logo Teraiz" />
        </h1>
      </div>

      <!-- Desktop Navigation -->
      <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-8">
          {
            CONTENT.tags.map((tag) => (
              <a
                href={tag.href}
                class="text-gray-700 hover:text-brand-primary transition-colors duration-200"
              >
                {tag.name}
              </a>
            ))
          }
        </div>
      </div>

      <LanguageAndCta client:load content={getContent()} lang={LANG} />
    </div>

    <ContentMenuMobil client:load content={getContent()} lang={LANG} />
  </nav>
</header>
